@*
    Al hacer un return view(); en el método Index del AngryTwitterController, por defecto busca un fichero .cshtml en /Views/AngryTwitter que será lo que devuelva
*@

@{
    ViewData["Title"] = "How Angry Twitter";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>
