@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Analyze Results";
}

<h1>Twitter Analyze Results</h1>

<h2> @ViewData["AngryPercentage"] % of your tweets are angry.</h2>
